#header{
    background-color: #4834d4;
    height:400px;
    background-image:url(./img/web.jpg) ;
    background-repeat: no-repeat;
    background-size:cover;
    text-align: center;
    font-family:monospace;
}
.container{
    margin-top:-84px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode','Lucida Sans', Arial, sans-serif;
}

.box1{
    border:4px solid rgba(31, 18, 222, 0.23);
    border-radius: 15px;
    height: 200px;
    background-color: rgb(28, 23, 23);
}


.box1:hover{
    box-shadow: 6px 0px 6px 6px rgb(88, 7, 250);
}

#btnClick:hover{
    box-shadow: 3px 0px 3px 3px rgb(226, 224, 229);
    zoom: 1.15;
}

.btn-add{
    background-color: #130f40;
    border-radius: 12px;
    border-style: none;
    width: 70px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    color: azure;
}

#sticky-add{
    position: sticky;
    top:15px;
}

.box2{
    border:4px solid rgba(31, 18, 222, 0.23);
    border-radius: 15px;
    background-color: rgb(28, 23, 23);
    max-height: max-content; 
    color: #ffffff;
}

.box2:hover{
    box-shadow: 6px 0px 6px 6px rgb(88, 7, 250);
}

.delClick{
    background-color:#02065d;
    color: #ffffff;
    height: 100%;
    width: 35px;
    font-size:16px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    outline: none;
    margin-right:4px;
}
.delClick:hover{
    background-color:rgb(244, 20, 4);
    zoom:1.1;
}

.compClick{
    background-color: transparent;
    font-size:33px;
    color:#02065d;
    height: 100%;
    width:max-content;
    margin-right:4px;
    margin-top: 1px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;

}
.compClick:hover{
    color:rgb(71, 248, 85);
    zoom:1.1;
}
.rmvAllbtn{
    background-color: transparent;
    font-size:27px;
    color:#979ef3;
    width:max-content;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    margin-bottom:12px;
    margin-left:100px;
}

.rmvAllbtn:focus{
    color:aliceblue;
    zoom:1.13;
}

#removeAlign{
    background-color: #04020d6e;
    border-radius: 25px;
    height: 45px;
    margin-bottom: 23px;
    border: 1px solid #0f0475;
    display: flex;
    justify-content: center;
    text-align: center;
}


#rmvspan{
    font-size: 18px;
    padding-top: 10px;
}
.tasks{
    background-color:rgba(0, 1, 6, 0.048);
    height: 45px;
    display: flex;
    padding: 5px 10px;
	margin-bottom: 9px;
	border-radius: 17px;
    cursor: pointer;
    border: 1px solid #0f0475;
    font-size: 17px;
}

#taskname{
    display: flex;
    margin-right:auto;
}
#newTask input{
       border-radius: 17px;
       height: 45px;
       background-color:rgba(0, 1, 6, 0.048);
       color: #ffffff;
       border:2px solid #0f0475;
}
   
